header {
    background-color: #e74c3c;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    width: 100%;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
}
